/* Write your CSS here */
.main-bg {
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bg-container {
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #e4ebf3;
  padding: 20px;
  width: 250px;
  height: 300px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.heading {
  color: blue;
  font-size: 20px;
}

.description {
  color: #333333;
  font-family: 'Roboto';
  font-size: 15px;
  align-self: center;
  margin: 10px;
}

.sub-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.button {
  background-color: #0b69ff;
  color: #eaebed;
  font-size: 15px;
  padding: 7px;
  border: none;
  border-radius: 6px;
}

.span-text {
  font-weight: bold;
  color: #0b69ff;
  font-size: 35px;
  font-family: 'Roboto';
}
